<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMPMapper">

	<select id="goodsList" resultType="Goods_MP_DTO" parameterType="string">
	select * from goods_mp where room=#{room}
	</select>
	<select id="SearchByRoom" resultType="Goods_MP_DTO" parameterType="string">

	select gcode,gprice,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from (
select gcode,gprice,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from goods_mp
Union all
select gcode,gprice,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from goods_yp
) where room=#{room}
	</select>
	<select id="SearchByLoc" resultType="Goods_MP_DTO" parameterType="string">

	select gcode,gprice,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from (
select gcode,gprice,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from goods_mp
Union all
select gcode,gprice,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from goods_yp
) where address like '%'||#{location}||'%'
	</select>
	
		<select id="countSearchByRoom" resultType="int" >

	select count(*) from (
select gcode,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from goods_mp
Union all
select gcode,deposit,address,location,
   area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5 from goods_yp
) where room=#{room}
	</select>
	<select id="goodsListMP" resultType="Goods_MP_DTO">
	select * from goods_mp
	</select>
	
	<select id="goodsListMP_Loc" resultType="Goods_MP_DTO" parameterType="string">
	select * from goods_mp where address like '%'||#{location}||'%'
	</select>
	
	<insert id="goodsMPAdd" parameterType="Goods_MP_DTO">
	insert into goods_mp(gcode,deposit,gprice_mp,address,location,
	area,room,fee,floor,elv,parking,build,gimage1,lessorid,gimage2,gimage3,gimage4,gimage5)
	values( #{gCode},#{deposit},#{gPrice_MP},#{address},
	#{location},#{area},#{room},#{fee},#{floor},#{elv},
	#{parking},#{build},#{gImage1},#{lessorid},#{gImage2},#{gImage3},#{gImage4},#{gImage5})
	</insert>
	
	<select id="goodsMPCount" resultType="int">
	select count(*)
	from goods_mp
	</select>
	
	<select id="goodsRetrieveMP" resultType="Goods_MP_DTO" parameterType="string">
	select * from goods_mp
	where gCode=#{gCode}
	</select>
</mapper>

